html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	padding: 30px;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
	line-height: 1.2;
	color: rgb(0, 0, 0);
	background-color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 800px;
	width: 100%;
}

.btn {
	padding: 5px 15px;
	border: none;
	background-color: rgb(66, 70, 248);
	cursor: pointer;
	color: #fff;
	border-radius: 4px;
}

.btn_hidden {
	cursor: default;
	pointer-events: none;
	user-select: none;
	background-color: rgb(209, 209, 209);
	color: #000;
}
