html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 30px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 800px;
    width: 100%;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
}

.card-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    border: 1px solid gray;
    padding: 20px;
    background-color: aquamarine;
}

.card-news__title {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
}

.news-paginator {
    margin-bottom: 20px;
    user-select: none;
}
.btn {
    margin-right: 20px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(66, 70, 248);
    cursor: pointer;
    color: #fff;
}

.btn_hidden {
    cursor: default;
    pointer-events: none;
    user-select: none;
    background-color: rgb(209, 209, 209);
    color: #000;
}
